# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
AdvancedCPP/.vs/
AdvancedCPP/003ExceptionsBasics/Debug/
AdvancedCPP/003ExceptionsBasics/x64/Debug/
AdvancedCPP/004StandardExceptions/x64/
AdvancedCPP/005CustomExceptions/x64/
AdvancedCPP/006ExceptionCatchingOrder/x64/
AdvancedCPP/007WritingTextFiles/x64/
AdvancedCPP/008ReadingTextFiles/x64/
AdvancedCPP/009ParsingTextFiles/x64/
AdvancedCPP/010StructsAndPadding/x64/
AdvancedCPP/011BinaryFileIO/x64/
AdvancedCPP/012Vectors/x64/
