# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
AdvancedCPP/.vs/
AdvancedCPP/03ExceptionsBasics/Debug/
AdvancedCPP/03ExceptionsBasics/x64/Debug/
AdvancedCPP/04StandardExceptions/x64/
AdvancedCPP/05CustomExceptions/x64/
AdvancedCPP/06ExceptionCatchingOrder/x64/
AdvancedCPP/07WritingTextFiles/x64/
AdvancedCPP/08ReadingTextFiles/x64/
AdvancedCPP/09ParsingTextFiles/x64/
AdvancedCPP/10StructsAndPadding/x64/
AdvancedCPP/11BinaryFileIO/x64/
AdvancedCPP/11BinaryFileIO/test.bin
